@charset "utf-8";
/*-----------------------------------------
  				HOME PAGE
 ------------------------------------------*/
.content{
    width: 1216px;
    margin: 0px auto;
}
/*---------------------- 
  HEADER
------------------------*/
header{
    overflow: hidden;
    padding: 21px 0 0;
}
header .logo {
	width: 373px;
	float: left;
}
header .logo a{
    display: block;
}
header .head .rightHead{
	float: right;
}
header .head .rightHead .bannerHead{
	overflow: hidden;
	margin: 3px 0px 30px;
}
header .head .rightHead .boxSearch{
    display: inline-block;
    float: right;
}
header .head .rightHead .boxSearch input{
    background: url("../images/search.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    float: left;
    font-family: georgia;
    font-size: 16px;
    font-style: italic;
    height: 28px;
    padding: 0 0 0 10px;
    width: 210px;
    color: #cbc8c0;
}
header .head .rightHead .boxSearch button{
	float: left;
	cursor: pointer;
	display: block;
	border: none;
	background: url("../images/search.jpg") no-repeat scroll right top transparent;
	height: 28px;
	width: 30px;
	text-indent: -9999px;
}
#bottom{
    background-color: #FFFFFF;
    height: 24px;
    padding: 10px 0 0;
}
#bottom #menu{

}
#bottom #menu nav {

}
#bottom #menu#bottom #menu nav ul{

}
#bottom #menu nav ul li{
	float: left;
	margin: 0px 25px 0px 0px;
}
#bottom #menu nav ul li a{
    color: #7A7A7A;
    font-family: Varela;
    font-size: 11px;
    padding: 0 5px 3px;
    text-transform: uppercase;
}
/* Inicio menu active y hover*/
#bottom #menu nav ul li.active-1 a{
    border-bottom: 3px solid #378433;
}
#bottom #menu nav ul li .hover-a1:hover{
	border-bottom: 3px solid #378433;
}

#bottom #menu nav ul li.active-2 a{
    border-bottom: 3px solid #ffb400;
}
#bottom #menu nav ul li .hover-a2:hover{
    border-bottom: 3px solid #ffb400;
}

#bottom #menu nav ul li.active-3 a{
    border-bottom: 3px solid #0084ff;
}
#bottom #menu nav ul li .hover-a3:hover{
    border-bottom: 3px solid #0084ff;
}

#bottom #menu nav ul li.active-4 a{
    border-bottom: 3px solid #ff0000;
}
#bottom #menu nav ul li .hover-a4:hover{
    border-bottom: 3px solid #ff0000;
}

#bottom #menu nav ul li.active-5 a{
    border-bottom: 3px solid #d803db;
}
#bottom #menu nav ul li .hover-a5:hover{
    border-bottom: 3px solid #d803db;
}

#bottom #menu nav ul li.active-6 a{
    border-bottom: 3px solid #2c03db;
}
#bottom #menu nav ul li .hover-a6:hover{
    border-bottom: 3px solid #2c03db;
}

#bottom #menu nav ul li.active-7 a{
    border-bottom: 3px solid #00d200;
}
#bottom #menu nav ul li .hover-a7:hover{
    border-bottom: 3px solid #00d200;
}

#bottom #menu nav ul li.active-8 a{
    border-bottom: 3px solid #9f4b01;
}
#bottom #menu nav ul li .hover-a8:hover{
    border-bottom: 3px solid #9f4b01;
}

#bottom #menu nav ul li.active-9 a{
    border-bottom: 3px solid #949560;
}
#bottom #menu nav ul li .hover-a9:hover{
    border-bottom: 3px solid #949560;
}

#bottom #menu nav ul li.active-10 a{
    border-bottom: 3px solid #cccccc;
}
#bottom #menu nav ul li .hover-a10:hover{
    border-bottom: 3px solid #cccccc;
}

#bottom #menu nav ul li.active-11 a{
    border-bottom: 3px solid #fab1ff;
}
#bottom #menu nav ul li .hover-a11:hover{
    border-bottom: 3px solid #fab1ff;
}
/* fin menu active y hover*/

#bottom .networks{
	overflow: hidden;
	float: right;
}
#bottom .networks a{
	display: inline-block;
	margin: 0px 0px 0px 6px;
	float: left;
}
/*------------------------ MAIN CONTENT -------------------------------*/
#content{
	overflow: hidden;
}
/* BODY */
#body{
	width: 858px;
	float: left;
	padding: 0px 36px 0px 0px
}
.postDetalle{
    overflow: hidden;
    padding: 50px 0 0 60px;
}
.postDetalle h2.title{
    border-bottom: 1px solid #838383;
    color: #838383;
    font-size: 50px;
    line-height: 56px;
    padding: 0 0 10px;
    margin: 0px 0px 30px;
    font-family: Chivo;
}
.postDetalle .boxDetalle{
    overflow: hidden;
    margin: 0px 0px 30px;
}
.postDetalle .boxDetalle .left{
    float: left;
    padding: 0 10px 0 0;
    text-align: center;
    width: 95px;
}
.postDetalle .boxDetalle .left .autor{
    margin: 0px 0px 20px;
}
.postDetalle .boxDetalle .right{
    float: left;
    width: 690px;
    border-bottom: 1px solid #838383;
}
.postDetalle .boxDetalle .right p .video{

}
.postDetalle .boxDetalle .right .data{
    overflow: hidden;
    padding: 0 0 10px;
}
.postDetalle .boxDetalle .right .data .hTop{
 	overflow: hidden;
}
.postDetalle .boxDetalle .right .data .hTop .name{
 	float: left;
 	padding: 0px 20px 0px 0px;
 	font-size: 18px;
 	color: #838383;
}
.postDetalle .boxDetalle .right .data .date{
 	font-size: 12px;
 	color: #838383;
}
.postDetalle .boxDetalle .right .data .hTop .redes{
    display: inline-block;
    float: left;
    padding: 4px 0 0;
}
.postDetalle .boxDetalle .right .text p{
    font-family: Varela;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 20px;
}
.postTagRelacionados {
    overflow: hidden;
    padding: 0 0 30px 0px;
    border-bottom: 1px solid #838383;
    margin: 0 0 10px 105px;
}
.postTagRelacionados ul li {
    float: left;
    width: 231px;
    text-align: center;
}
.postTagRelacionados ul li a {
    font-size: 14px;
    color: #838383;
}

.postRelacionados{
    overflow: hidden;
    padding: 0 0 30px 0px;
    border-bottom: 1px solid #838383;
    margin: 0 0 30px 105px;
}
.postRelacionados ul{
	overflow: hidden;
}
.postRelacionados ul li{
		float: left;
		width: 144px;
		background-color: #fff;
		margin: 0px 38px 0px 0px;
		height: 185px;
}
.postRelacionados ul li:last-child{
		margin:0px !important;
}
.postRelacionados ul li a.thumb{
	display: block;
	margin: 0px;
}
.postRelacionados ul li h4{
	padding: 0px 5px;
}
.postRelacionados ul li h4 a{
    color: #838383;
    font-family: Chivo;
    font-size: 12px;
}
/* ASIDE */
aside{
	background-color: #4c4b4b;
	width: 300px;
	float: left;
	padding: 23px 11px;
}
.boxAside{
	margin: 0px 0px 30px 0px;
	overflow: hidden;
}
.boxAside h3{
    border-bottom: 1px solid #E3E0D6;
    color: #E3E0D6;
    font-family: Varela;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 0 0 6px 22px;
}
.boxMantenteInformado .formSub{
	overflow: hidden;
}
.boxMantenteInformado .formSub .input{
	margin: 0px 0px 20px;
}
.boxMantenteInformado .formSub .grupo-radio{
    display: inline-block;
    float: left;
    padding: 0 0 0 10px;
}
.boxMantenteInformado .formSub .grupo-radio label{
	font-size: 15px;
	color: #e3e0d6;
	padding: 0px 0px 0px 5px;
}
.boxMantenteInformado .formSub .send{
   float: right;
    margin: 15px 50px 0 0;
}
.boxMantenteInformado .formSub .send button{
    background: url("../images/btnSub.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    display: block;
    height: 31px;
    text-indent: -99999px;
    width: 92px;
}
.boxMantenteInformado .formSub .input input{
   background: url("../images/input.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 26px;
    width: 289px;
    padding: 0px 0px 0px 10px;
    font-family: Georgia;
    font-style: italic;
    font-size: 12px;
    color: #c1c1c1;
}
.boxTemasImportantes ul li{
	float: left;
	width: 150px;
	text-align: center;
}
.boxTemasImportantes ul li a{
	font-size: 12px;
	color: #e3e0d6;
}
.boxJournalRecomienda .thumb{
	float: left;
	width: 144px;
}
.boxJournalRecomienda h4{
    float: left;
    line-height: 26px;
    padding: 0 0 0 10px;
    width: 140px;
}
.boxJournalRecomienda h4 a{
	color: #e3e0d6;
	font-size: 19px;
    font-family: Chivo;

}
/*------------------------ footer -------------------------------*/
footer{
    background-color: #272727;
    padding: 33px 0 10px;
}

footer .foot .logoFoot{
    margin: 0px 0px 48px;
    overflow: hidden;
}
footer .foot .bottom{
    overflow: hidden;
}
footer .foot .bottom .left{
    float: left;
}
footer .foot .bottom .left ul li a{
    font-size: 14px;
    color: #838383;
}
footer .foot .bottom .right{
     float: right;
     display: inline-block;
}
footer .foot .bottom .right .section{
    float: left;
    display: inline-block;
    margin: 0px 0px 0px 27px;
}
footer .foot .bottom .right .section.first{
    margin: 0px;
}
footer .foot .bottom .right .section h3 a{
     font-size: 11px;
    color: #fff;  
}
footer .foot .bottom .right .section ul li a{
    font-size: 10px;
    color: #838383;
}

.shareThis{
    cursor: pointer;
    position: fixed;
    margin-left: 15px;
    top: 62%;
    z-index: 9999;
}
/*nuevos*/
.autor > img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/* share plugin compartir*/
.sthoverbuttons-pos-left {
    display: none !important;
}

/* Masonry*/
#masonry-index {
    margin-top: 15px;
    margin-bottom: 15px;
}
#masonry-index > .item-masonry {
   margin-bottom: 5px;
    /*margin: 6px;*/

}
/* Solo Texto*/
.modulo1-masonry{
    height: 190px;
    width: 190px;
    overflow: hidden;
}
.modulo1-masonry > div:first-child {
    display: none;
}
.modulo1-masonry > div:last-child {
    width: 174px;
    height: 167px;

    border-top-style: solid;
    border-top-width: 3px;

    overflow: hidden;
    background-color: #FFFFFF;
    padding: 10px 8px;
}
/*.masonry-titulo{*/
.modulo1-masonry > div:last-child > a{
    font-family: chivo;
    font-weight: bold;
    font-size: 200%;
    line-height: normal;
    color: #2d2d2d;
}

/* vertical*/
.modulo2-masonry{
    height: 190px;
    width: 380px;
    overflow: hidden;
    /*margin: 0 15px 20px 0;*/
}
/*.thums-mansonry{*/
.modulo2-masonry > div:first-child {
    border-top-style: solid;
    border-top-width: 3px;
    float: left;
    height: 187px;
    width: 190px;
}
/*.thums-masonry > img{*/
.modulo2-masonry > div:first-child > a >img{
    height: 100%;
    width: 100%;
}
.modulo2-masonry > div:last-child {
    width: 174px;
    height: 170px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 10px 8px;

}
/*.masonry-titulo{*/
.modulo2-masonry > div:last-child > a{
    font-family: chivo;
    font-weight: bold;
    font-size: 200%;
    line-height: normal;
    color: #2d2d2d;
}
/* vertical*/
.modulo3-masonry {
    height: 380px;
    width: 190px;
    overflow: hidden;
    /*margin: 0 15px 20px 0;*/
}

/*.modulo3-masonry > div {*/
.modulo3-masonry > div:first-child {
    border-top-style: solid;
    border-top-width: 3px;
    /*border-top-color: #000000;*/
    height: 187px;
    width: 100%;
    /*margin-right: 5px;*/
}

.modulo3-masonry > div:first-child > a >img{
    height: 100%;
    width: 100%;
}
.modulo3-masonry > div:last-child {
    /*height: 100%;*/
    height: 180px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 13px 10px;
}
.modulo3-masonry > div:last-child > a{
    /*height: 180px;*/
    font-family: chivo;
    font-weight: bold;
    font-size: 200%;
    line-height: normal;
    color: #2d2d2d;
}

/* Solo Imagen*/
.modulo4-masonry{
    height: 380px;
    width: 380px;
    overflow: hidden;
}
/*.thums-mansonry{*/
.modulo4-masonry > div:first-child {
    border-top-style: solid;
    border-top-width: 3px;
    height: 377px;
    width: 100%;
}
/*.thums-masonry > img{*/
.modulo4-masonry > div:first-child > a >img{
    height: 100%;
    width: 100%;
}

.modulo4-masonry > div:last-child {
    display: none;
}

/*contenido bxslider*/
.contend_slider{
    overflow: hidden;
    background: transparent;
    margin-top: 15px;
}
.img-slider {
    width: 575px;
    height: 388px;
    float: left;
    overflow: hidden;
}
.img-slider > a >img {
    width: 100%;
    height: 100%;
}
.descripcion-slider {
    width: 175px;
    height: 347px;
    margin: 15px 0 17px 0;
    float: left;
    overflow: hidden;
    border-top-color: #0000ff;
    border-top-style: solid;
    border-top-width: 3px;
    background: #2d2d2d;
    padding: 0 15px;
}
.descripcion-slider > h2 {
    height: 120px;
    padding-top: 60px;
}
.descripcion-slider > h2 > a{
    color: #ffffff;
    font-family: chivo;
    /*font-size: 34px;*/
    font-size: 100%;
    font-weight: bold;
}
.descripcion-slider > span {
    font-size: 14px;
    color: #fff;
    height: 170px;
    line-height: normal;
}
.read-more {
    display: block;
    margin: 15px 0;
    color: #468dcb;
}
.bx-wrapper{
    /*margin-left: 0;
    margin-right: 0;
    margin-top: 0;*/
    margin: 0 15px 20px 0;

}
.bx-viewport{
    background: transparent !important;
    border-color: transparent !important;
    -moz-box-shadow: 0 0 0  !important;
    -webkit-box-shadow: 0 0  !important;
    box-shadow: 0 0 0  !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent !important;
    text-indent: initial !important;
    width: 20px !important;
    height: 20px !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    border-color: #ffffff !important;
    border-width: 2px !important;
    border-style: solid !important;
    text-align: center !important;
    font-size: 9px !important;
    font-family: Varela !important;
    line-height: 18px !important;
    color: #ffffff !important;
}
.bx-pager.bx-default-pager a.active {
    color: #2e73b8 !important;
    border-color:#2e73b8 !important;
}
.bx-pager.bx-default-pager a:hover {
    color: #2e73b8 !important;
    border-color: #2e73b8 !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 13px !important;
    width: 50% !important;
    left: 40% !important;
}